body{
	background-color: black;
}
h1{
		font-size: 42px;
		color: #eb9834;
	}

	h2{
		color: teal;
	}

	.big{
		font-size: 69px;
	}

	.uppercase{
		text-transform: uppercase;
	}

	h1 span{
		color: red;
		align-content: center;
	}